
<%- include('../partials/head'); %>

<body class="container">

  <header>
    <!-- Include your header content here -->
  </header>

  <main>
    <h1>Ticket Booking</h1>
    <img src="ticket_image.jpg" alt="Ticket Booking">
    <p>Book tickets for your travel. Explore our wide range of travel options.</p>
    <a href="partials/ticket_booking">Book Tickets</a>
  </main>

  <footer>
    <!-- Include your footer content here -->
  </footer>

  <!-- Add Bootstrap JavaScript and Popper.js -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-Xr5fCVHXvXodq2g5cNBp9aULbZc3z5jTnu5ZmBAdkHUX8iCaQbPj2lpd+7aRb7b2"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">

    
  </script>
</body>

</html>
